.top-footer-content {
  padding: 30px 0;

  img {
    padding: 6px;
  }

  @include mediaLg {
    padding: 40px 0;

    img {
      padding: 0 30px;
    }
  }
}

.mid-footer {
  background-color: $gray-5;
}
.mid-footer-content {
  padding: 45px 0;

  .logo img {
    max-width: 230px;
    margin-left: 0;
    margin-top: 20px;
  }

  .desc-logo {
    max-width: 320px;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

  ul li {
    padding: 8px 0;

    i {
      float: left;
      display: inline-block;
      width: 30px;
      height: 25px;
      line-height: 25px;
    }
  }

  i {
    color: $red;
  }

  a {
    color: $gray-3;

    &:hover {
      color: $white;
    }
  }
  
  .mid-footer-item {
    margin-top: 45px;

    .row.cc {
      margin-left: -11px;
      margin-right: -11px;
      > .col-3 {
        padding: 0 11px;
        font-size: 40px;
        text-align: center;
      }
    }

    .cc a:hover i {
      color: $white;
    }
  }
}

.bottom-footer {
  padding: 35px 0;
  text-align: center;
  ul li {
    display: inline-block;
    padding: 0 9px;

    a {
      color: $gray-2;
      
      &:hover {
        color: $white;
      }
    }
  }

  .coryright {
    margin-top: 30px;
    color: $gray-2;

    span {
      display: inline-block;
      margin: 0 8px;
    }
  }
}